body {
    background-color:   #FFA07A;
}

#wrapper {
    position: relative;
}

#clock-large {
    height: 10px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 475px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}

#date-large {
    height: 10px;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 350px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 27px;
}